/**
* {{&summary}}
{{#externalDocs}}
  * @see {@link {{&url}}|{{#description}}{{&description}}{{/description}}{{^description}}External docs{{/description}}}
{{/externalDocs}}
*/
public {{&pathMethodName}}(parameters: {
{{#parameters}}
  {{^isSingleton}}
    '{{&camelCaseName}}'?: {{> type}},
  {{/isSingleton}}
{{/parameters}}
$queryParameters?: any,
{{^isPOST}}
  config?: any,
{{/isPOST}}
}): Observable<{{&successfulResponseType}}> {

let url = `${environment.apiBase}{{&path}}`;
let queryParameters: any = {};
if (parameters.$queryParameters) {
queryParameters = parameters.$queryParameters;
}
{{#hasFormParameters}}
  const formData = new FormData();
  {{#parameters}}
    {{#isBlob}}
      formData.append('{{&camelCaseName}}', parameters['{{&camelCaseName}}'], '{{&camelCaseName}}');
    {{/isBlob}}
    {{^isBlob}}
      formData.append('{{&camelCaseName}}', parameters['{{&camelCaseName}}']);
    {{/isBlob}}
  {{/parameters}}
  return this.http.post(url, formData) as any;
{{/hasFormParameters}}
{{^hasFormParameters}}
  {{#parameters}}
    {{#isPathParameter}}
      url = url.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', `${parameters['{{&camelCaseName}}']}`);
      {{#isPOST}}
        const out = {};
      {{/isPOST}}
    {{/isPathParameter}}
    {{#isBodyParameter}}
      {{#isPOST}}
        const p = parameters['{{&camelCaseName}}'];
        const out= p?p:{};
      {{/isPOST}}
    {{/isBodyParameter}}
  {{/parameters}}
  {{^parameters}}
    {{#isPOST}}
      const out = {};
    {{/isPOST}}
  {{/parameters}}
  {{#responseIsBlob}}
    queryParameters['responseType']='blob'
  {{/responseIsBlob}}
  {{#isPOST}}
    return this.http.post(url, out, queryParameters) as any;
  {{/isPOST}}
  {{^isPOST}}
    return this.http.get(url, queryParameters) as any;
  {{/isPOST}}
{{/hasFormParameters}}
}
