import {
{{#types}}
  {{&name}},
{{/types}}
{{#definitions}}
  {{&name}},
{{/definitions}}
}from '../../src/app/services/api-model';
export let commonResponses = {};

{{#types}}
    commonResponses['{{&name}}'] = () => {
    return {
    result: 'Not implemented {{&name}}',
    };
    };
{{/types}}
{{#definitions}}
    commonResponses['{{&name}}'] = () => {
    return {
    result: 'Not implemented {{&name}}',
    };
    };
{{/definitions}}

export interface IResponsesObject{
{{#methods}}
    {{&pathMethodName}}?:(req, res)=>{{&successfulResponseType}};
{{/methods}}
}
