/**
* {{&summary}}
{{#externalDocs}}
* @see {@link {{&url}}|{{#description}}{{&description}}{{/description}}{{^description}}External docs{{/description}}}
{{/externalDocs}}
*/
{{^isPOST}}
    app.get(apiPath + '{{&expressPath}}', (req: Request, res: any) => {
      res.set({
        {{#headersForMockServer}}
          '{{name}}':{{value}},
        {{/headersForMockServer}}
      });
      res.send(responses.{{&pathMethodName}}(req, res));
    });
{{/isPOST}}
{{#isPOST}}
    files = [];
    {{#parameters}}
      {{#isFormParameter}}
        {{#isBlob}}
          files.push({
            name: '{{camelCaseName}}'
          });
        {{/isBlob}}
      {{/isFormParameter}}
    {{/parameters}}
    app.post(apiPath + '{{&expressPath}}',
    {{#hasFormParameters}}
      upload.fields(files),
    {{/hasFormParameters}}
    (req: Request, res: any) => {
        res.set({
          {{#headersForMockServer}}
            '{{name}}':{{value}},
          {{/headersForMockServer}}
        });
        res.send(responses.{{&pathMethodName}}(req, res));
    });
{{/isPOST}}
